/*------------------ Default Style Start --------------------*/
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container-fluid {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

.py {
    padding: 100px 0;
}

/*------------------ Default Style End --------------------*/


/*------------------------- Header Start ----------------------*/
.header {
    margin-top: 40px;
    height: 550px;
    background-color: #161616;
    color: white;
    display: flex;
    border-radius: 26px;
}

.header-left {
    width: 50%;
    margin-top: 90px;
    margin-left: 70px;
}

.header-left h1 {
    color: #ffffff;
    font-size: 63px;
    margin: 0;
    line-height: 1.1em;
}

.header-left p {
    color: #f0f0f0;
    font-size: 12px;
    width: 71%;
    margin: 24px 0;
}

.header-left button {
    background-color: #dd0000;
    color: #fff;
    padding: 13px 30px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    display: inline-block;
}

.header-left button i {
    margin-left: 10px;
    color: #f9cfcf;
}

.header-right {
    width: 50%;
}

.header-right img {
    width: 522px;
}

#header-animation {
    width: 100%;
    height: 100%;
    background-color: #161616;
    animation: header-animation 5s infinite;
}

@keyframes header-animation {
    from {
        background-color: #161616;
    }

    to {
        background-color: rgb(83, 83, 110);
    }
}

/*------------------------- Header End -------------------------*/
/*------------------------- Blog Start -------------------------*/
.blog-wrap {
    display: flex;
    flex-wrap: wrap;
}

.blog-nav {
    width: 20%;
}

.blog-nav ul {
    background-color: black;
    margin-right: 24px;
    list-style: none;
    border-radius: 10px;
}

.blog-nav ul li {
    text-align: center;
}

.blog-nav ul li a {
    width: 70%;
    text-decoration: none;
    padding: 10px 18px;
    margin: 14px 0px;
    display: inline-block;
    color: #161616;
    font-weight: 600;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);

    transition: .3s;
}

.blog-nav ul li a:hover {
    background-color: #dd0000;
}

.blog-nav ul li a:focus {
    background-color: #dd0000;
}

.blog-item {
    width: 80%;
}

.blog-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.content-details {
    border: 1px solid #ddd;
    border-radius: 10px;
}


.content-details h3 {
    font-size: 14px;
    color: black;
    margin-left: 17px;
    margin-top: 15px;
}

.content-details button {
    background-color: #fff;
    border: 2px solid rgb(189, 185, 185);
    border-radius: 5px;
    padding: 4px 12px;
    margin-left: 15px;
    margin-top: 12px;
    font-weight: 600;
}

.content-summary {
    margin: 10px 0;
}

.content-summary span {
    margin: 0 18px;
    color: #808080;
    font-size: 12px;
}

.button {
    text-align: center;
    display: none;
}

.btn {
    background-color: #dd0000;
    margin-top: 70px;
    border-radius: 10px;
    padding: 16px 48px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border: none;
}


/*------------------------- Blog End -------------------------*/
/*------------------------- Footer Start -------------------------*/
.footer {
    text-align: center;
    background-color: #161616;
}

.footer-top {
    border-bottom: 1px solid #414040;
}

.footer-top h1 {
    color: #fff;
    margin-bottom: 30px;
}

.footer-bottom {
    margin-top: 40px;
}

.footer-bottom ul {}

.footer-bottom ul li {
    display: inline-block;
}

.footer-bottom ul li a {
    color: #999;
    text-decoration: none;
    margin: 0 15px;
}

.footer-social {
    margin-top: 20px;
}

/*------------------------- Footer End -------------------------*/



/*============================ Another Page Style ===============================*/

/*------------------------ Upcoming Match Blog Style Start ------------------------*/
.match-summary {
    padding: 30px 14px;
}

.match-summary {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.team-summary h2 {
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}

.team-summary p {
    text-align: center;
    font-size: 13px;
    margin-bottom: 30px;
}

/*------------------------ Upcoming Match Blog Style End ------------------------*/
/*------------------------ All Group Blog Style Start ------------------------*/
.team-summary h1 {
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}

/*------------------------ All Group Blog Style End ------------------------*/



/******************************* Responsive Style Start ****************************/

/*------------ Mobile Device -----------*/
@media screen and (max-width:576px) {
    .header {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .header-left {
        width: 80%;
        margin-top: 40px;
    }

    .header-left h1 {
        font-size: 35px;
        text-align: center;
    }

    .header-left p {
        color: #d4d1d1;
        font-size: 18px;
        text-align: center;
        width: 100%;
    }

    .header-left button {
        display: inline-block;
    }

    .header-right {
        width: 100%;
        margin-top: 25px;
    }

    .blog-wrap {
        display: flex;
        flex-direction: column;
    }

    .blog-nav {
        width: 100%;
    }

    .blog-nav ul {
        background-color: #fff;

    }

    .blog-nav ul li a {
        width: 40%;
        padding: 26px 18px;
        border: 2px solid #ddd;
    }


    .blog-item {
        width: 100%;
    }

    .blog-content {
        display: flex;
        flex-direction: column;
    }

    img {
        width: 566px;
    }

    .content-details button {
        display: block;
    }

    .content-details h3 {
        font-size: 24px;
    }
}

/*------------ Tablat Device -----------*/
@media screen and (max-width:768px) {
    .header-left h1 {
        font-size: 33px;
    }

    .blog-nav {
        width: 100%;
    }

    .blog-nav ul {
        background-color: #fff;
    }

    .blog-nav ul li a {
        width: 40%;
        padding: 26px 18px;
        border: 2px solid #ddd;
    }

    .blog-nav ul li {
        display: inline-block;
    }

    .blog-wrap {
        display: flex;
        flex-direction: column;
    }

    .blog-nav {
        width: 100%;
    }

    .blog-nav ul {
        background-color: #fff;

    }

    .blog-nav ul li a {
        width: 40%;
        padding: 26px 18px;
        border: 2px solid #ddd;
    }


    .blog-item {
        width: 100%;
    }

    .blog-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }

    img {
        width: 100%;
    }

    .blog-nav ul {
        margin-right: 0;
        text-align: center;
    }

    .blog-nav ul li {
        text-align: center;
        margin: 0 30px;
    }

    .blog-nav ul li a {
        width: 100%;
        padding: 10px 16px;
        margin: 14px 0px;
    }

    .button {
        text-align: center;
        display: block;
    }

}

/*------------ Laptop Device -----------*/
@media screen and (max-width:992px) {}


/******************************* Responsive Style End ******************************/